/* login page */
.login-body {
  background-image: url(../images/fonts/login-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* register page */
.register-body {
  background-image: url(../images/fonts/register-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
